body{
    margin-top:50px;
    display:flex;
    justify-content:center;
    background-color:#CCE7F4;
}

.text{
    text-align:center;
    margin-right:45px;
}

h1{
    font-family: 'Alfa Slab One', cursive;
    margin:0px;
    padding:0px;
}
p{
    margin:0px;
    padding:0px 0px 80px 0px;
    font-family: 'Lato', sans-serif;
    font-size:35px;
}

.burger{

}

.burger .border-one{
    width:500px;
    height:100px;
    background-color:#F8B300;
    border-bottom:15px solid orange;
    border-radius:80px 80px 20px 20px;
}
.border-two{
    margin-top:6px;
    background-color:Green;
    width:550px;
    height:20px;
    border-bottom:7px solid rgb(1, 68, 1);
    position:relative;
    left:-27px;
    border-radius:15px 15px 5px 5px;
}

.border-three{
    margin-top:6px;
    width:560px;
    height:30px;
    background-color:#F5E03D;    
    border-radius:15px 15px 15px 15px;
    position:relative;
    left:-34px;
    z-index:10;
}

.border-four{
    background-color:#D3C139;    
    border-radius:15px 15px 15px 15px;
    position:relative;
    width:560px;
    height:30px;
    position:relative;
    left:-34px;
    z-index:9;
    top:-23px;

}

.border-five{
    margin-top:-17px;
    display:flex;
    flex-direction:row;
}

.border-five-one, .border-five-two{ 
    width:240px;
    height:50px;
    background-color:red;
    border-bottom:10px solid rgb(187, 0, 0);
    border-radius:15px 15px 15px 15px;
}

.border-five-two{
    position:relative;
    right:-15px;
}

.border-six{
    margin-top:-15px;
    width:530px;
    height:80px;
    background-color:#694032;    
    border-radius:30px 30px 30px 30px;
    position:relative;
    left:-16px;
    z-index:10;
}

.border-seven{
   
    width:530px;
    height:80px;
    background-color:#462C23;    
    border-radius:30px 30px 30px 30px;
    position:relative;
    left:-16px;
    bottom:70px;
    z-index:9;
}

.border-eight{
    margin-top:-18px;
    background-color:#67AF43;
    width:550px;
    height:20px;
    border-top:7px solid rgb(1, 68, 1);
    position:relative;
    left:-27px;
    border-radius:5px 5px 15px 15px;
}


.border-nine{
    margin-top:10px;
    width:500px;
    height:100px;
    background-color:#F5B32F;
    border-top:15px solid orange;
    border-radius:20px 20px 80px 80px;
}

.row-one{
    display:flex;
 
}

.row-two {
    display:flex;
}

.row-one .eclipse{
    margin-left:80px;
}

.row-two .eclipse{
    margin-left:125px;
}

.row-one{
    position:absolute;
    top:240px;
}


.row-two{
    position:absolute;
    top:280px;
}

.row-one, .row-two{
    margin-left:20px;
}

.eclipse{
    width:50px;
    height:20px;
    background-color:#FCD05D;
    border-radius:50%;
}

.wrap{
    margin-top:-70px;
}

.price-tag{
    width:200px;
    height:80px;
    background-color:#E3431E;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    border-radius:15px;
    transform: rotate(-25deg);
    position:absolute;
    bottom:13%;
    right:36%;

}

.price-tag h1{
    font-size:50px;
    color:#CDE7F3;
}


